<header>
<div class="nb-box">
  <nav>
    <a href="{{path_to_root}}/index.html"><span class="nstrong">n</span>blog</a>
     ⋅ 
    <a href="{{path_to_root}}/about.html">about</a>
  </nav>
  <span>{{> header_right }}</span>
</div>
<hr>
</header>