<script async defer data-domain="pietroppeter.github.io/nblog" src="https://plausible.io/js/plausible.js"></script>
<style>
:root {
  --orange: #ff8c00;
  --orangebackground: #fafafa;
}

.nstrong {
  font-weight: 600;
  color: var(--orange);
}

time {
  font-family: monospace;
  color: var(--orange);
  padding: 2.5px 5px;
  border-radius: 6px;
  font-size: 1.2em;
  background-color: var(--orangebackground);
}
</style>